@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

*{
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}
:root{
    --field-font: 20px;
    /* Color Palette */
    --background-pink: #ffebf5;
    --background-blue: #2D2B6D;
    --pink-500: #FE0B81;
    --pink-350: #FE79B9;
    --pink-100: #FFABC2;
    --blue-500: #003E60;
    --blue-350: #068D8D;
    --blue-100: #B9E4E9;
}

body{
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(270deg, var(--background-pink) 40%, white 0);
}

.main-container{
    width: 80vw;
    min-height: 80vh;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: 
    "form" "image";
    box-shadow: 0px 0px 20px 3px #00000059;
    margin: 10vh auto;
    gap: 20px;
}

.image-container{
    display: flex;
    align-items: flex-end;
    background-color: var(--background-pink);
    padding-bottom: 15px;
    width: 30vw;
}

.image-container img{
    grid-area: image;
    min-width: 20vw;
    width: 40vw;
    margin-left: -113px;
    position: relative;
}

.login-container{
    grid-area: form;
    background-color: white;
    padding: 5% 19% 5% 7%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-title-container .title{
    padding: 10px 30px;
    font-size: 35px;
    color: var(--blue-500);
}

.form-container .login-form{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    max-height: 238px;
    overflow-y: scroll;
    padding: 15px 0px 0px 0px;
    position: relative;
    gap: 30px;
}

.form-container .login-form::-webkit-scrollbar{
    height: 2px;
    display: none;
}

.input-field{
    position: relative;
}

.input-field input{
    width: 30vw;
    color: var(--blue-500);
    font-weight: bolder;
    padding: 20px 15px 10px 15px;
    height: 50px;
    font-size: 20px;
    border: 1px solid var(--pink-100);
    position: relative;
}

.input-field .floating-label{
    position: absolute;
    display: block;
    font-weight: bold;
    font-size: 17px;
    pointer-events: none;
    font-weight: bold;
    top: 20px;
    left: 10px;
    opacity: .4;
    transition: all .1s ease;
    padding: 0 5px;
    z-index: 1;
}

.input-field input:focus ~ .floating-label,
.input-field input:not(:focus):valid ~ .floating-label,
.input-field select:focus ~ .floating-label,
.input-field select:not(:focus):valid ~ .floating-label{
    font-size: 13px;
    top: -10px;
    color: var(--pink-500);
    background-color: white;
    width: fit-content;
    opacity: 1;
    font-weight: bold;
}

.input-field input:focus-visible{
    outline: var(--pink-350) auto 1px;
}

.login-functions{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    justify-content: space-between;
    width: 83%;
    margin-top: -20px;
    color: var(--blue-500);
}

.login-functions div{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.login-functions div:first-child{
    gap: 5px;
}

.login-functions div:last-child a:link, 
.login-functions div:last-child a:visited,
.login-functions div:last-child a:active{
    text-decoration: none;
    color: var(--blue-500);
    padding: 2px 0px;
    transition: .2s;
}

.login-functions div:last-child a:hover{
    box-shadow: inset 0px -1px 0px 0px var(--pink-500);
    transition: .2s ease-in-out;
}
.bottom-part{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.bottom-part #form-division{
    text-align: center;
    opacity: .5;
    padding: 0px 6%;
    pointer-events: none;
}

#form-division div:first-of-type{
    height: 2px;
    background-color: rgb(167, 167, 167);
}

#form-division div:last-of-type{
    display: flex;
    justify-content: center;
}

#form-division h6{
    color: var(--blue-500);
    position: relative;
    margin-top: -7px;
    padding: 0px 5px;
    background-color: white;
    font-size: 12px !important;
}
.form-button-container{
    display: flex;
    justify-content: center;
}

.form-button-container .form-button{
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: var(--pink-500);
    border: none;
    font-weight: bolder;
    color: white;
    border-radius: 7px;
    width: 83%;
    transition: ease-in .2s;
    text-decoration: none;
    text-align: center;
}

.form-button-container #signin-button:active{
    background-color: #da0c70;
}

.form-button a:visited, .form-button a:link{
    color: white;
}

.form-button-container #signup-button{
    margin-top: -10px;
    background-color: var(--blue-350);
}

#signup-button:hover{
    background-color: var(--blue-500);
}

#signup-button:active{
    background-color: #012c44;
}

.account-icon-container{
    display: none;
}
.account-icon{
    display: none;
}

.vali-modal-container-inactive{
    display: none;
}

.vali-modal-container-active{
    position: absolute;
    right: 5%;
    top: 5%;
    display: block;
    animation-direction: normal;
    z-index: 1;
}

.vali-modal{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    font-size: 12px;
    width: fit-content;
    border-radius: 5px;
    background-color: var(--pink-100);
    box-shadow: 2px 2px 4px 0px #00000059;
}

.vali-modal p{
    padding: 20px 10px 20px;
    color: var(--blue-500);
    font-weight: bold;
}

.vali-modal .close-button-container{
    display: flex;
    justify-content: center;
    padding: 20px 10px 20px;
}

.close-button-container button{
    font-size: 14px;
    color: var(--blue-500);
    border: none;
    background-color: transparent;
    cursor: pointer;
}

/* scrollbars */
/* width */
::-webkit-scrollbar {
    width: 8px;
    border-radius: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: transparent; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

    ::-webkit-datetime-edit-year-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-month-field:not([aria-valuenow]),
    ::-webkit-datetime-edit-day-field:not([aria-valuenow]) {
    color: transparent;
}

@media screen and (max-width: 711px) {
    body{
        background: var(--background-pink);
    }
    
    .main-container{
        display: block;
        background-color: white;
        box-shadow: 8px 8px 12px 0px #00000059;
    }

    .image-container{
        display: none;
    }
    
    .login-container{
        padding: 23% 10% 7% 10%;
    }

    .input-field input{
        width: 50vw;
    }

    .form-title-container{
        display: none;
    }

    .login-functions{
        font-size: 2.2vw !important;
        width: 77.5%;
    }

    .form-button-container .form-button{
        width: 77.5%;
    }

    .account-icon-container{
        display: block;
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
    }
    
    .account-icon{  
        display: block;   
        position: absolute;
        top: 0;
        height: 27vw;
        width: 27vw;
        margin-top: -60px;
        border-radius: 100px;
        background-color: white;
        border: 15px solid var(--background-pink);
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
        align-items: center;
    }

    .account-icon img{
        width: 23vw;
    }

    .vali-modal{
        width: auto;
        transform: scale(.9);
    }
}

@media only screen and (max-width: 870px){
    .login-functions{
        font-size: 1.5vw;
    }

    .image-container img{
        margin-left: -84px;
        transition: .2s ease-in-out;
    }
}

@media only screen and (max-width: 420px){
    .account-icon img{
        width: 13vw !important;
    }
}